.charts {
  width: 100%;
  max-width: 500px;
  @media (max-width: 1161px) {
    max-width: 400px;
  }
  .container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-bottom: 3px solid var(--color-danger);
  }
}
